<div class="show-container">
<h2>Sign up</h2>
<br />

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <br />
  

  <div class="field"><div class="field">
  <%= label :username, :"Name you'd like to user for the site" %><br /><br />
  <%= text_field :user, :username %>
</div>

<br />
    <%= f.label :password %>
    <br />
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br /><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>
  <br />

  <div class="field">
    <%= f.label :password_confirmation %><br /><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  <br />

<button type="submit" class="actions">
  Sign up
</button>
  <br />
  <br />
<% end %>

<%= render "devise/shared/links" %>
</div>
<br /><br /><br /><br />
