<div class="userlogin">
  <% if user_signed_in? %>
    <br/>
    <div class="signed-in">
      <p class="greeting"><strong>Hello <%= current_user.username %>!</strong></p>
      &nbsp; &nbsp;
      <div class="reg-buttons">
        <%= link_to "Sign Out", destroy_user_session_path, 'data-turbo-method': :delete, class: "logout"%>

        &nbsp; &nbsp;
        <span class="reg-label"><%= link_to 'Edit Profile', edit_user_registration_path, class: "edit-profile" %></span>
        <br />
      </div>
      <script>
        document.addEventListener('DOMContentLoaded', function() {
          var editProfileButton = document.getElementById('edit-profile-button');
          if (editProfileButton) {
            editProfileButton.addEventListener('click', function(event) {
              event.preventDefault();
            });
          }
        });
      </script>
    </div>
  <% else %>
    <div class="signed-out">
      <%= link_to "Login", new_user_session_path %>&nbsp; &nbsp;
      <%= link_to "Sign up", new_user_registration_path %>
    </div>
  <% end %>
</div>
