<%# NOTE: this has different fields to the review form in the shows path %>

<%= form_for @review || Userreview.new do |review_form| %>

   <%= review_form.hidden_field :show_id %>   
   <%= review_form.hidden_field :user_id, value: current_user.id %>
  <div class="field">
    <span class="label"><%= review_form.label :rating, 'Rating(5 highest)', class:"label" %></span>
    <br /> <br />
     <%= review_form.select :rating, (1..5).to_a.reverse, {}, class:"input-field"  %>
  </div>
<br/>
  <div class="field">
    <span class="label"><%= review_form.label :review, 'Review', class:"label" %></span>
     <br />
       <br />
    <%= review_form.text_area :review, class:"review-area input-field" %>
  </div>
<br />
  <%= review_form.submit 'Submit', class: 'button' %>

  <% end %>