<%# NOTE: this has different fields to the review form in the shows path %>

<%= form_for @review || Userreview.new do |review_form| %>

   <%= review_form.hidden_field :show_id %>   
   <%= review_form.hidden_field :user_id %>

  
  <div class="field">
    <span class="label"><%= review_form.label :rating, 'Rating(1 lowest, 5 highest)' %></span>
    <br /> <br />
    <%= review_form.text_field :rating %>
  </div>
<br/>
  <div class="field">
    <span class="label"><%= review_form.label :review, 'Review' %></span>
     <br />
       <br />
    <%= review_form.text_field :review %>
  </div>
<br />
  <%= review_form.submit 'Submit', class: 'button' %>

  <% end %>