<div class="display-container"><h2>Review for <%=Show.find(@review.show_id).title %></h2>

<p><span class="label">Rating:&nbsp;</span> <span class="rating"><%= @review.rating %></span></p>
<p><span class="label">Review: </span><br /><br /><span class="review"><%=@review.review %></span></p>
<br />

<%= render 'userreviews/edit' %>
<br />
<p><%= button_to "Delete Review", show_path(@reviews), method: :delete, data: { turbo_action: "remove" }, confirm: 'Are you sure you want to delete this Review?' %></p>

<br /><p><%= link_to "Back to Shows", root_path, class:"link-to-page" %></p>
</div>
<br /><br /><br /><br />
