<table>
  <tr>
    <th>Title</th>
     <th>Description</th>
    <th>Genre</th>
    <th>Image</th>
    <th>Performer</th>
  </tr>
<%if @shows %>
  <% @shows.each do |show| %>
    <tr>
      <td><%= show.title %></td>
       <td><%= show.description %></td>
      <td><%= show.genre %></td>
      <td><%= show.description %></td>
      <td><% if show.image.attached? %>
   <img src="<%=(url_for(@show.image)) %>">
<% end %></td>
      <td><%= show.description %></td>
          <td><%= link_to "Display Show", show_path(show) %></td>&nbsp;&nbsp;
      

    </tr>



    </tr>
  <% end %>
  <% end %>
</table>