<table class="index">
  <tr>
    <th>Title</th>
        <th>Performer</th>
     <th>Description</th>
    <th>Genre</th>
    <th>Image</th>

  </tr>
<%if @shows %>
  <% @shows.each do |show| %>
    <tr>
      <td><%= show.title %></td>
            <td><%= show.performer %></td>
       <td><%= show.description %></td>
      <td><%= show.genre %></td>

     
      <td>
        <% if show.present? && show.imageup.attached? %>
   <img src="<%=(url_for(show.imageup)) %>">

   <% end %>
</td>
 <% if user_signed_in? %>
          <td><%= link_to "Review Show", show_path(show) %>
  <% end %>
          <td>

          </td>&nbsp;&nbsp;



    </tr>
  <% end %>
  <% end %>
</table>