<table>
  <tr>
    <th>Title</th>
     <th>Description</th>
    <th>Genre</th>
    <th>Image</th>
    <th>Performer</th>
  </tr>
<%if @shows %>
  <% @shows.each do |show| %>
    <tr>
      <td><%= show.title %></td>
       <td><%= show.description %></td>
      <td><%= show.genre %></td>
      <td><%= show.description %></td>
      <td>
        <% if show.present? && show.imageup.attached? %>
   <img src="<%=(url_for(show.imageup)) %>">
   <% end %>
</td>
      <td><%= show.description %></td>
          <td><%= link_to "Display Show", show_path(show) %>
          </td>&nbsp;&nbsp;

          <%= link_to "Review Show", new_review_path %></td>&nbsp;&nbsp;
          
          

                <%# <script>
          document.querySelector('.review-button').addEventListener('click', function(){
            console.log("clicked");
            document.querySelector('.review-form').style.display='block';
            document.querySelector('.review-form').style.visibility='visible';
          }
          )
         
                    <td><button class="review-button">Review Show</button></td>&nbsp;&nbsp;
          <div class="review-form" hidden> 
            <p>"hi"klkjlkjksiojijijesioeio</p>
            <%= render partial: 'reviews/review_form' %>
            <button class="cancel-review-button">Cancel Review</button> %>
 
 



    </tr>
  <% end %>
  <% end %>
</table>