
 <h2>Shows</h2>
<% @shows = Show.where(genre: params[:category]) if params[:category].present? %>
<% @shows = @shows.joins(:userreviews).where("userreviews.rating >= ?", params[:userrating].to_i + 1) if params[:userrating].present? %>
<% @shows = @shows.where("title LIKE ?", "%#{params[:showname]}%") if params[:showname].present? %>
<% @shows = @shows.where("performer LIKE ?", "%#{params[:performer]}%") if params[:performer].present? %>

<% div_array = [] %>
  <% if @shows %>
    <% @shows.each do |show| %>
    <% div_array << content_tag(:div, class: 'index') do %>        
          <% if show.present? && show.imageup.attached? %>
            <img style="width: 300px; height: 175px;" src="<%= url_for(show.imageup) %>">
          <% end %>
          <br />
       
      
          <span class="index-show-title"><%= show.title %></span>
          <br />
         
          <% @showid = show.id %>
          <% @ratingsum = 0 %>
          <% @count = 0 %>
          <% @userreviews = Userreview.where(show_id: show.id) %>
          <% @userreviews.each do |userreview| %>
            <% if userreview.rating.is_a?(Numeric) %>
              <% @ratingsum += userreview.rating %>
              <% @count += 1 %>
            <% end %>
          <% end %>
          <% if @count != 0 %>
           <%= number_with_precision(@ratingsum.to_f / @count, precision: 1) %>&nbsp;&nbsp;&nbsp;<%= @count %>&nbsp;<span class="index-item">Reviews</span>
          <% else %>
            Not yet rated
          <% end %>
          <% @ratingsum = 0 %>
          <% @count = 0 %>
          <br />
        
        <span class="index-item">performed by: <%= show.performer %></span>
        <br />
        <%= show.genre %>
        </br>

        <% if user_signed_in? %>
          <%= button_to "Review Show", show_path(show), method: :get, class: "button" %>
        <% end %>
       &nbsp;&nbsp;
      
    <% end %>
  <% end %>
  <%end %>

<div class="index-container-outer">
  <%= div_array.join.html_safe %>
</div>
  <br />
<br />
<br />
<br />
