<%= form_for @location || Location.new do |location_form| %>
<div class="field">
  <%= location_form.label :venuename, 'Venue' %>
  <%= location_form.text_field :venuename %>
</div>

<div class="field">
  <%= location_form.label :town, 'Location' %>
  <%= location_form.text_field :town %>
</div>

<div class="field">
  <%= location_form.label :address, 'Address' %>
  <%= location_form.text_field :address %>
</div>

<div class="field">
  <%= location_form.label :info, 'Description' %>
  <%= location_form.text_field :info %>
</div>
<% end %>