<%= place_form.hidden_field :show_id, value: @show.id %>
    
      <div class="field">
        <%= place_form.label :placevenue, 'Venue' %>
        <%= place_form.text_field :placevenue %>
      </div>

      <div class="field">
        <%= place_form.label :placetown, 'place' %>
        <%= place_form.text_field :placetown %>
      </div>

      <div class="field">
        <%= place_form.label :placeaddress, 'Address' %>
        <%= place_form.text_field :placeaddress %>
      </div>

      <div class="field">
        <%= place_form.label :placeinfo, 'Description' %>
        <%= place_form.text_field :placeinfo %>
      </div>

