<%# //fields specifically for the shows view/controller %>
<%= form_for @userreview || Userreview.new do |review_form| %>
  <%= review_form.hidden_field :show_id, value: @show.id %>
  <%= review_form.hidden_field :user_id, value: current_user.id %>
  <div class="field">
    <%= review_form.label :rating, 'Rating (1 lowest, 5 highest)' %>
    <br />
    <%= review_form.select :rating, (1..5) %> 
  </div>
  <div class="field">
    <%= review_form.label :review, 'Review' %>
    <br />
    <%= review_form.text_field :review %>
  </div>
  <div class="actions">
    <%= review_form.submit 'Submit' %>
  </div>
<% end %>

