<%# //fields specifically for the shows view/controller %>
<%= form_for @userreview || Userreview.new do |review_form| %>
  <%= review_form.hidden_field :show_id, value: @show.id %>
  <%= review_form.hidden_field :user_id, value: current_user.id %>
  <div class="field">
    <span class="label"><%= review_form.label :rating, 'Rating(1 lowest, 5 highest)' %></span>
    <br /> <br />
     <%= review_form.select :rating, (1..5).to_a.reverse %>
  </div>
<br/>
  <div class="field">
    <span class="label"><span class="label"><%= review_form.label :review, 'Review' %></span>
     <br />
       <br />
    <%= review_form.text_field :review %>
  </div>
<br />
  <%= review_form.submit 'Submit', class: 'button' %>

  <% end %>

