<%= form_for @review || Userreview.new do |review_form| %>
  <%= review_form.hidden_field :show_id, value: @show.id %>
  <div class="field">
    <%= review_form.label :rating, 'Rating (1 lowest, 5 highest)' %>
    <%= review_form.text_field :rating %>
  </div>
  <div class="actions">
    <%= review_form.submit 'Submit' %>
  </div>
<% end %>