<%= form_for @show || Show.new do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>

  <div class="field">
    <%= f.label :title, 'Title' %>
    <%= f.text_field :title %>
  </div>
  <% @dropdown_values = ['Comedy', 'Theatre', 'Music',  'Dance', 'Other']%>%

<div class="field">
  <%= f.label :genre, 'Genre' %>
  <%= f.select :genre, options_for_select(@dropdown_values) %>
</div>

  <div class="field">
    <%= f.label :description, 'Description' %>
    <%= f.text_field :description %>
  </div>
    <div class="field">
  <%= f.label :imageup %>
<%= f.file_field :imageup %>
  </div>

  <div class="field">
    <%= f.label :performer, 'Performer' %>
    <%= f.text_field :performer %>
  </div>

  <%= f.submit 'Submit', class: 'button' %>
<% end %>
  


