<h3>Edit Show </h3>

<%= render partial: "showform" %>
<h3>Edit Venue </h3>
 <%= @show.places.each do |p| %>
<h1>Venue </h1>
      <div class="place">
        <p>Venue: <%= p.placevenue %></p>
        <p>Location: <%= p.placetown %></p>
        <p>Address: <%= p.placeaddress %></p>
        <p>Description: <%= p.placeinfo %></p>
               <br />
                 <%= link_to 'Edit', edit_place_path(p) %>
                 <br />
                 <td><%= button_to "Delete Venue", place_path(p), method: :delete, data: { turbo_action: "remove" }, confirm: 'Are you sure you want to delete this Venue?' %></td> 
         
       <%  p.timings.each do |timing| %>
        <h3>Time / Date</h3>
        <p> Date:<%= timing.day %></p>
        <p>Time/s: <%= timing.timeslot %>
        <% end %>

  <% end %>

      </div>
