<table>
  <tr>
    <th>Title</th>
     <th>Description</th>
    <th>Genre</th>
    <th>Image</th>
    <th>Performer</th>
  </tr>
<%if @shows %>
  <% @shows.each do |show| %>
    <tr>
      <td><%= show.title %></td>
       <td><%= show.description %></td>
      <td><%= show.genre %></td>
      <td><%= show.description %></td>
      <td>
        <% if show.present? && show.imageup.attached? %>
   <img src="<%=(url_for(show.imageup)) %>">
   <% end %>
</td>
      <td><%= show.description %></td>
          <td><%= link_to "Display Show", show_path(show) %>
          <td>

          </td>&nbsp;&nbsp;

       <%# <td>   <%= link_to "Review Show", new_review_path</td>&nbsp;&nbsp;  %>
          
          

                <%# <script>
 document.querySelectorAll('.review-button').forEach(function(button) {
  button.addEventListener('click', function() {
    var showId = this.getAttribute('data-show-id');
    console.log('clicked on show ID:', showId);
    
    var reviewForm = document.querySelector('.review-form');
    reviewForm.style.display = 'block';
    reviewForm.style.visibility = 'visible';
    
    // Set the show ID in the form
    var showIdInput = document.querySelector('#review_show_id');
    showIdInput.value = showId;
  });
}); %>
          <%# </script>
         
       
          <div class="review-form" hidden> 
            <p>"hi"klkjlkjksiojijijesioeio</p>
            <%= render partial: 'shows/review_form'%>
            <%# <button class="cancel-review-button">Cancel Review</button> 
            </div>  %>
 
 



    </tr>
  <% end %>
  <% end %>
</table>