<div class='display-container'>

  <h2>My Reviews</h2>

<% @userreviews.each do |review| %>
<div>
   <% @show=Show.find(review.show_id) %>
     <h3><span class="display-title"> <%= Show.find(review.show_id).title %></span></h3>
    <p><span class="label">Rating <%= review.rating %></span>

    <br /><br/><p class="review"><%= review.review %></p>
    <br /><br />
  
     <td><%= button_to "Edit Review", userreview_path(review), method: :get, class: "button" %></td>
   
    <p><%= button_to "Delete Review", userreview_path(review), method: :delete, data: { turbo_action: "remove" }, confirm: 'Are you sure you want to delete this Review?' %></p>
    </div>
    <% end %>
    <br />
       <%= link_to "Back to Shows", root_path, class:"link-to-page" %>
    </div>
 
  <br /> <br /> <br /> <br />




