<div class='display-container'>

  <h2>My Reviews</h2>

<%= @userreviews.each do |review| %>
<div>
   <% @show=Show.find(review.show_id) %>
     <h3>Show Title: <span class="label"> <%= Show.find(review.show_id).title %></span></h3>
    <p><span class="label">Rating <%= review.rating %></span>
    <p><span class="label"> Review <%= review.review %></span>
    <%=render 'review_form'%>
   
    <p><%= button_to "Delete Review", show_path(review), method: :delete, data: { turbo_action: "remove" }, confirm: 'Are you sure you want to delete this Review?' %></p>
    </div>
    <% end %>
    </div>
  <br />




