<div class="display-container">
  <%# Confirms if the user has reviewed the site or not based on whether their email has been added to the 
  useremails array which contains the emails for the users that have reviewed this specific show.  %>
  <% @reviewed = false %>
  <% @ownreview = false %>
  <%# Gets username for reviews by userreviews for the show.  %>
  <%# Also pushes user emails to array. If email there, the user cannot make a second rating.  %>
  
  <% @usernames = [] %>
  <% @useremails = [] %>
  
  <% @userreviews.each do |userreview| %>
    <% @users = User.where(id: userreview.user_id) %>
    <% @users.each do |user| %>
      <% @usernames.push(user.username) %>
      <% @useremails.push(user.email) %>
      <% if current_user.present? %>
      <% if @useremails.include?(current_user.email) %>
        <% @reviewed = true %>
      <% else %>
        <% @reviewed = false %>
        <% @useremails %>
      <% end %>
      <% end %>
    <% end %>
  <% end %>
  <% if current_user.id==@show.user_id %>
  <% @ownreview=true %>
  <% end %>

  <%# Display the show details %>
  <h2><span class="display-title"><%= @show.title %></h2></span>
  <br />
    <% if @show.imageup.attached? %>
    <img src="<%= url_for(@show.imageup) %>">
  <% end %>
  <p><%= @show.genre %></p>
  <p><span class="label">Performer</span><br/><br /><%= @show.performer %></p>
  <p><span class="label">Description</span><br/><br /><%= @show.description %></p>

  <br />

<% if !user_signed_in? %>
<p><span class="label">Sign in to review this show</span></p>
<%# Checks as to whether the current user has already reviewed the show.  %>
  <% elsif @reviewed == true %>
    <p><span class="label">You have reviewed this show</span></p>
  <%# Checks as to whether the current user has created the show. They shouldn't be able to review the show.  %>
      <% elsif @ownreview==true%>
    <p>You cannot review a show you created(Sorry!)</p>
  
  <% else %> 
  <h2>Review Show</h2>

    <p><%= render 'shows/review_form' %></p>

  <% end %>


  <div class="reviews">
 

    <% if @userreviews.present? %>
     <h2>Reviews:</h2>
      <% @userreviews.each do |r| %>
  <div class="review">
          <p><span class="label">Rating:</span> 
                    &nbsp;&nbsp;
          <strong><%= r.rating %></strong></p>
          <p><span class="label">Reviewer:</span>
          <br /> <%=@usernames[0]%></p>
          <% @usernames.shift %>
          <p><span class="label">Review:</span> 
          <br /><%= r.review %></p>
          </div>
          <br />
     
      <% end %>
      <% else %>
      <p>There are currently no reviews for this show</p>

    <% end %>
    <h2><%= link_to "Back to Shows", root_path, class:"link-to-page" %></h2>
    </div>
  </ul>
  <br/><br/>
</div>
<br /><br />
