<h1><%= @show.title %> </h1>

<ul>

    <li> Genre <%= @show.genre %></li>
    <li>Performer <%= @show.performer %></li>
     <li><% if @show.imageup.attached? %>
   <img src="<%=(url_for(@show.imageup)) %>">
<% end %></li>
    <li>Description <%= @show.description %></li>
        <li>
       <% @places.each do |place| %>
      <div class="place">
        <p>Venue: <%= place.placevenue %></p>
        <p>Location: <%= place.placetown %></p>
        <p>Address: <%= place.placeaddress %></p>
        <p>Description: <%= place.placeinfo %></p>
        <%= render partial: "place_form" %>
      </div>
        <%# <button  type="button" id="add-time-btn">Add timings to the location</button> %>
    <% end %>
    </li>
    <br/><br/>
   