<h1><%= @show.title %> </h1>

<ul>

    <li> Genre <%= @show.genre %></li>
    <li>Performer <%= @show.performer %></li>
     <li><% if @show.imageup.attached? %>
   <img src="<%=(url_for(@show.imageup)) %>">
<% end %></li>
    <li>Description <%= @show.description %></li>
        <li>
       <% @places.each do |place| %>
      <div class="place">
        <p>Venue: <%= place.placevenue %></p>
        <p>Location: <%= place.placetown %></p>
        <p>Address: <%= place.placeaddress %></p>
        <p>Description: <%= place.placeinfo %></p>
        <%= render partial: "place_form" %>
      </div>
        <%# <button  type="button" id="add-time-btn">Add timings to the location</button> %>
    <% end %>
    </li>
    <br/><br/>
    <p>Would you like to add a venue / venues to this show?</p>
    <button  type="button" id="add-place-btn">add a location to the show!!!!?</button>



 <div class="placeForm" >
  <p>"placeForm"</p>
  <%= render partial: 'shows/place_form' %>
  <br/><br/>

  <%= @show_id %>
  <script>
  document.getElementById("add-place-btn").addEventListener("click", function(){
    console.log("clicked")
  document.querySelector(".placeForm").style.visibility = "visible";
});
//   document.getElementById("add-time-btn").addEventListener("click", function(){
//     console.log("clicked timeslot")
//   document.querySelector(".timeForm").style.visibility = "visible";
// });


</script> 

<td><%= button_to "Delete Show", show_path(@show), method: :delete, data: { turbo_action: "remove" }, confirm: 'Are you sure you want to delete this Show?' %></td>

  </ul>

    <br><br>
<%= link_to "AllShows", shows_path %>


<%= link_to "Create New Show", new_show_path %>
 
