<div class="display-container">
  <h1><%= @show.title %></h1>
  <br />
  <p><span class="label">Genre</span> <br/><br /><%= @show.genre %></p>
  <p><span class="label">Performer</span> <br/><br /><%= @show.performer %></p>
  <p><span class="label">Description</span><br/><br /><%= @show.description %></p>
  <p><span class="label">Image</span><br/><br /></p>
  <br />
  
  <% if @show.imageup.attached? %>
    <img src="<%= url_for(@show.imageup) %>">
    <br />
  <% end %>
  <h2>Reviews:</h2>
<ul>
<% @userreviews.each do |r| %>
<li class = "row">
    <p>Rating: <strong><%= r.rating %></strong></p>
    <br />
    <%=User.find_by(id: @userreviews.first.user_id).username %>
  
   <p> Review: <%= r.review %></em>
   <%# <p> User Name:  <><%= @user.username %>
    </li>
<% end %>

  <br/><br/>

    <p><%= render 'shows/review_form' %></p>

</div>
<br /><br />
