<h1><%= @show.title %></h1>
<br />
  Genre <%= @show.genre %>
  Performer <%= @show.performer %>
  Description <%= @show.description %>
  
    <% if @show.imageup.attached? %>
      <img src="<%= url_for(@show.imageup) %>">
    <% end %>
<% @places.each do |place| %>
  <div class="place">
    <p>Venue: <%= place.placevenue %></p>
    <br />
    <p>Location: <%= place.placetown %></p>
    <br />
    <p>Address: <%= place.placeaddress %></p>
    <br />
    <p>Description: <%= place.placeinfo %></p>
    <br />
  </div>
  <br /><br />
<% end %>

<% if user_signed_in? %>
  <%= render 'userreviews/review_form' %>
<% end %>