<h3>Review</h3>

<p>Rating: <%= @review.rating %></p>
<p>Review: <%=@review.review %></p>

<%= render 'reviews/edit' %>
</br>
<td><%= button_to "Delete Review", show_path(@show), method: :delete, data: { turbo_action: "remove" }, confirm: 'Are you sure you want to delete this Review?' %></td> 
<%# #<td><%= button_to "Delete Venue", review_path(p), method: :delete, data: { turbo_action: "remove" }, confirm: 'Are you sure you want to delete this Review?' %>
