<% if @place %>
<%= form_for @timing || Timing.new do |timing_form| %>

<%# <%= hidden_field_tag :authenticity_token, form_authenticity_token %> %>

<%= timing_form.hidden_field :place_id, value: @place.id %>

    
      <div class="field">
        <%= timing_form.label :day, 'Date' %>
        <%= timing_form.date_field :day %>
      </div>

      <div class="field">
        <%= timing_form.label :timeslot, 'Time' %>
        <%= timing_form.text_field :timeslot %>
      </div>
     <%= timing_form.submit 'Submit', class: 'button' %>

<% end %>
<% else %>
  <p>No place found.</p>
<% end %>