<h1>Venue </h1>

      <div class="place">
        <p>Venue: <%= @place.placevenue %></p>
        <p>Location: <%= @place.placetown %></p>
        <p>Address: <%= @place.placeaddress %></p>
        <p>Description: <%= @place.placeinfo %></p>
               <br />
                <%= link_to 'Go Back to Show', edit_show_path(@place.show_id) %>
                <br />
                 <%= link_to 'Edit', edit_place_path(@place) %>
                 <br />
                 <td><%= button_to "Delete Venue", place_path(@place), method: :delete, data: { turbo_action: "remove" }, confirm: 'Are you sure you want to delete this Venue?' %></td> 
         
         <% @timings.each do |timing| %>
           <p>Date: <%= timing.day %></p>
        <p>Time/s: <%= timing.timeslot %></p>
        <br/>
          <%= link_to 'Edit', edit_timing_path(timing) %>
  <br />
  <td><%= button_to "Delete Date Time/s", timing_path(@timing), method: :delete, data: { turbo_action: "remove" }, confirm: 'Are you sure you want to delete this Date / Time?' %></td> 

  

      </div>
        <%# <button  type="button" id="add-time-btn">Add timings to the location!!</button> %>
    <% end %>

    <div class="timeForm" >
  <p>Add date / times to the show's venue</p>
  <%= render partial: 'places/timing_form' %>
   <%# <%= link_to 'Edit', edit_timing_path(@timing) %> %>
  <br/><br/>
    
    <br/><br/>
    <p>Add date / time to the venue.</p>
    <%# <button  type="button" id="add-place-btn">add a location to the show!!!!?</button> %>
    <%# <%= link_to "Add New Location", new_place_path(@show) %>

      <%# <script>
  document.getElementById("add-time-btn").addEventListener("click", function(){
    console.log("clicked for timing")
  document.querySelector(".timeForm").style.visibility = "visible";
}); %>