<!DOCTYPE html>
<html>
  <head>
    <title>Showbizzy3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
 
  <body>


    <p class="text-blue-700">test layout</p>
    <% if user_signed_in?%>
<p c>Hello <%= current_user.email %>!</p>
&nbsp; &nbsp;
<%= form_for(current_user, url: destroy_user_session_path, method: :delete) do |f| %>
  <%= f.submit "Logout" %>
  <br /><br />
  <h2>Add new Show</h2>
  <br>
  <br>
   <%= link_to "Create New Show", new_show_path %>
<br><br>
    <h2>Shows</h2>
<% end %>

<% else %>
<div class = "userlogin">
<%= link_to "Login", new_user_session_path %>
<%= link_to "Sign up", new_user_registration_path %>
</div>
<% end %>
 <p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>

