<!DOCTYPE html>
<html>
  <head>
    <title>Showbizzy3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
   <%# <%= javascript_include_tag "turbo" %>
  </head>
 
  <body>
    <%= render "pages/header" %>
    <%= render "pages/navigation" %>
    <%= render "pages/registration" %>



  <%= render partial: 'pages/footer' %>

 <p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>

