<!DOCTYPE html>
<html>
  <head>
    <title>ShowBizzy - The Show Review Site</title>
    <meta name="description" content="The show review site where you can promote your show and gather valuable feedback from enthusiastic audience members.
     Discover the ratings and reviews of performances to know which shows are for you. 
    Join our community to promote, find and review shows today.">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="Show reviews, comedy reviews, standup reviews,
Performance ratings,
show ratings,
Concert reviews,
Musical reviews,
Play reviews,
Show recommendations,
Audience feedback,
Live performance reviews">
<meta name="robots" content="index, follow">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('Star.png') %>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Geologica:wght@300&family=Noto+Sans&family=Poppins:wght@300&family=Roboto&family=Sigmar&family=Work+Sans:ital@0;1&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "application1", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
   <%# <%= javascript_include_tag "turbo" %>
  </head>
 
  <body>
    <%= render "pages/header" %>
    <%= render "pages/navigation" %>
     <%= render partial: 'pages/footer' %>
   



 

 <p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>

