<!DOCTYPE html>
<html>
  <head>
    <title>Showbizzy3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
   <%# <%= javascript_include_tag "turbo" %>
  </head>
 
  <body>
    <%= render "pages/header" %>
    <br />
    <%= render "pages/navigation" %>
    <%= render "pages/registration" %>

    <% if user_signed_in?%>
    <%= render partial: 'users/registrations/log_info_form' %>

  <br /><br />
  <h2>Add new Show</h2>
  <br>
  <br>
   <%= link_to "Create New Show", new_show_path %>
<br><br>
<%= link_to 'My Shows - View and Edit', user_myshows_path %>
<%= link_to 'My Reviews - View and Edit', user_myreviews_path %>
<br><br>
<h2>Shows</h2>
<div class="header-row">
  <%= render partial: 'pages/header' %>
</div>

<div class="navigation-row">
  <%= render partial: 'pages/navigation' %>
</div>
 
<% end %>

  <%= render partial: 'pages/footer' %>

 <p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>

